<ion-grid>
  <ion-row style="padding: 10px;" (click)="goToMethod('new group')">
    <ion-col>
      New group
    </ion-col>
  </ion-row>
  <ion-row style="padding: 10px;" (click)="goToMethod('new brodcast')">
    <ion-col>
      New brodcast
    </ion-col>
  </ion-row>
  <ion-row style="padding: 10px;" (click)="goToMethod('new group')">
    <ion-col>
      New group
    </ion-col>
  </ion-row>
  <ion-row style="padding: 10px;" (click)="goToMethod('settings')">
    <ion-col>
      Settings
    </ion-col>
  </ion-row>
</ion-grid>