.search-icon {
    font-size: 26px;
    padding-right: 10px;
}

.more-icon {
    font-size: 26px;
    padding-right: 4px;
}

:host /deep/.img-border {
    border-bottom-left-radius: 16px !important;
}